<h1 class="text-center my-4">{{title}}</h1>

{{#if emptyCart}}
<div class="container d-flex flex-column" style="min-height: 60vh">
    <div class="alert alert-warning text-center" role="alert">
        <h2>Carrito Vacio</h2>
        <p>El carrito está vacío. Añade algunos productos. </p>
        <a href="/products" class="btn btn-primary">Let's buy!</a>
    </div>
</div>

{{else}}
<div class="container" style="min-height: 60vh">
    <ul class="list-group">
        {{#each cart}} 
        <li class="list-group-item d-flex flex-column align-items-center">
            <div class="row w-100">
                <div class="col-md-8">
                    <h2>{{productId.title}}</h2> 
                    <p>Precio: ${{productId.price}}</p>
                    <p>Categoria: {{productId.category}}</p>
                    <p>Cantidad: {{quantity}}</p>
                    <button class="btn btn-danger mt-3 delete-from-cart-button" data-pid="{{productId._id}}">Eliminar</button>

                </div>
                <div class="col-md-4 text-center">
                    <img src="{{productId.thumbnails}}" class="img-fluid" style="max-width: 150px;">
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
{{/if}}
